.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 420px;
  padding: 32px;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 100px 0 100px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 12px 16px;
  background: transparent;
  border-radius: 8px;
}

.label {
  font-size: 14px;
  color: #FFFFFF;
  justify-self: flex-start;
}

.value {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}
