.button {
  width: 50%;
  height: 48px;
  margin-inline: auto;
  background: #60C2FF;
  color: #343434;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: background 0.2s ease, opacity 0.2s ease;

  &:hover:not(:disabled) {
    background: #1a8cd5;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
