.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px #131414 inset;
  transition: background-color 5000s ease-in-out 0s;
}
  /*
  Пришлось такую штуку написать.
  А то при вставке имэйла/пароля стили менялись у инпутов.
  Будет работать для хрома
  */

.input {
  width: 100%;
  height: 52px;
  padding: 0 16px;

  background: transparent;
  border: 1px solid #FFFBFB;
  border-radius: 14px;

  color: #fff;
  font-size: 14px;

  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.45);
  }


  &:hover {
    border-color: #11bed5;
  }

  &:focus {
    border-color: #6ec1ff;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.inputContainer {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}
