.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input {
  width: 100%;
  height: 52px;
  padding: 0 16px;

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 14px;

  color: #fff;
  font-size: 14px;

  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.45);
  }


  &:hover {
    border-color: #11bed5;
  }

  &:focus {
    border-color: #6ec1ff;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.error {
  border-color: #ff4d4f;
}

.errorText {
  font-size: 12px;
  color: #ff4d4f;
}
