*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #333;
  min-height: 100vh;
  background: url('@/shared/assets/images/BG.png') center / cover no-repeat;
}
