.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 420px;
  padding: 32px;
}

.title {
  margin-bottom: 24px;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
}


