.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.error {
  font-size: 12px;
  height: 16px;
  color: #ff4d4f;
}

.errorText {
  font-size: 12px;
  color: #ff4d4f;
}
