.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}


.card {
    width: 100%;
    max-width: 420px;
    padding: 32px;
}

h1 {
  font-size: 96px;
  margin: 0;
}

p {
  font-size: 24px;
  margin-top: 16px;
}
